flows_raspberrypi.json
[{"id":"b8a2f6b1.6865d","type":"tab","label":"Homebridge to Hubitat","disabled":false,"info":""},{"id":"9cfd907a.57ebf8","type":"tab","label":"Hubitat to Homebridge","disabled":false,"info":""},{"id":"5b5054a9.8eef0c","type":"hubitat config","name":"","usetls":false,"host":"192.168.1.145","port":"80","appId":"1483","nodeRedServer":"http://192.168.1.224:1880","webhookPath":"/hubitat/webhook","autoRefresh":true,"useWebsocket":false,"colorEnabled":false,"color":"#ace043"},{"id":"298a159d.3f138a","type":"hb-conf","username":"548-82-109"},{"id":"78621b45.e30bf4","type":"hb-event","z":"b8a2f6b1.6865d","name":"Front Doorlock","Homebridge":"homebridge","Manufacturer":"KWIKSET","Service":"Lock Mechanism","device":"homebridge0E:AD:D9:CD:9F:59KWIKSETFront Doorlock00000045","conf":"298a159d.3f138a","x":120,"y":120,"wires":[["55c18b0f.64aae4"]]},{"id":"c8a009d2.c13a38","type":"switch","z":"b8a2f6b1.6865d","name":"","property":"payload.LockCurrentState","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":730,"y":120,"wires":[["3b274a9f.1bd4e6"],["f85fba90.636388"]]},{"id":"3b274a9f.1bd4e6","type":"hubitat command","z":"b8a2f6b1.6865d","deviceLabel":"Front Door Lock","name":"Unlock Front Door Lock","server":"5b5054a9.8eef0c","deviceId":"960","command":"unlock","commandArgs":"","x":970,"y":80,"wires":[[]]},{"id":"f85fba90.636388","type":"hubitat command","z":"b8a2f6b1.6865d","deviceLabel":"Front Door Lock","name":"Lock Front Door Lock","server":"5b5054a9.8eef0c","deviceId":"960","command":"lock","commandArgs":"","x":960,"y":160,"wires":[[]]},{"id":"f3e533d6.734fe","type":"hb-event","z":"b8a2f6b1.6865d","name":"Panel","Homebridge":"homebridge","Manufacturer":"Vivint","Service":"Security System","device":"homebridge0E:AD:D9:CD:9F:59VivintPanel0000007E","conf":"298a159d.3f138a","x":90,"y":300,"wires":[["c9f45196.ad973"]]},{"id":"b4ec7aef.7e64e8","type":"switch","z":"b8a2f6b1.6865d","name":"","property":"payload.SecuritySystemCurrentState","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"3","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":730,"y":300,"wires":[["ca99db10.fa7848"],["46169be7.afe2f4"],["f1fbe8fa.f7e108"]]},{"id":"46169be7.afe2f4","type":"hubitat command","z":"b8a2f6b1.6865d","deviceLabel":"Alarm System","name":"Arm Away","server":"5b5054a9.8eef0c","deviceId":"961","command":"armAway","commandArgs":"","x":920,"y":300,"wires":[[]]},{"id":"ca99db10.fa7848","type":"hubitat command","z":"b8a2f6b1.6865d","deviceLabel":"Alarm System","name":"Arm Stay","server":"5b5054a9.8eef0c","deviceId":"961","command":"armHome","commandArgs":"","x":920,"y":240,"wires":[[]]},{"id":"f1fbe8fa.f7e108","type":"hubitat command","z":"b8a2f6b1.6865d","deviceLabel":"Alarm System","name":"Disarm","server":"5b5054a9.8eef0c","deviceId":"961","command":"disarm","commandArgs":"","x":920,"y":360,"wires":[[]]},{"id":"f9df29bb.fced88","type":"hubitat device","z":"9cfd907a.57ebf8","deviceLabel":"Front Door Lock","name":"","server":"5b5054a9.8eef0c","deviceId":"960","attribute":"lock","sendEvent":true,"x":120,"y":120,"wires":[["c12cbbc4.1c39d8"]]},{"id":"c12cbbc4.1c39d8","type":"switch","z":"9cfd907a.57ebf8","name":"","property":"payload.value","propertyType":"msg","rules":[{"t":"eq","v":"unlocked","vt":"str"},{"t":"eq","v":"locked","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":290,"y":120,"wires":[["a4b68e01.238e6"],["39abc78.ef0f938"]]},{"id":"6579ed35.4aeb04","type":"hb-control","z":"9cfd907a.57ebf8","name":"Front Doorlock","Homebridge":"homebridge","Manufacturer":"KWIKSET","Service":"Lock Mechanism","device":"homebridge0E:AD:D9:CD:9F:59KWIKSETFront Doorlock00000045","conf":"298a159d.3f138a","outputs":0,"x":1100,"y":120,"wires":[]},{"id":"7553aeee.edbde","type":"change","z":"9cfd907a.57ebf8","name":"Unlock","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"LockTargetState\":0}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":870,"y":80,"wires":[["6579ed35.4aeb04"]]},{"id":"f1437db1.8f29","type":"change","z":"9cfd907a.57ebf8","name":"Lock","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"LockTargetState\":1}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":870,"y":160,"wires":[["6579ed35.4aeb04"]]},{"id":"1ea7c941.6afc77","type":"hubitat device","z":"9cfd907a.57ebf8","deviceLabel":"Alarm System","name":"","server":"5b5054a9.8eef0c","deviceId":"961","attribute":"status","sendEvent":true,"x":120,"y":340,"wires":[["f11dd22e.c10ae"]]},{"id":"f11dd22e.c10ae","type":"switch","z":"9cfd907a.57ebf8","name":"","property":"payload.value","propertyType":"msg","rules":[{"t":"eq","v":"armed home","vt":"str"},{"t":"eq","v":"armed away","vt":"str"},{"t":"eq","v":"disarmed","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":290,"y":340,"wires":[["2a594770.320628"],["933f050f.de1828"],["a2f21e9d.f2621"]]},{"id":"53fa8902.548518","type":"change","z":"9cfd907a.57ebf8","name":"Arm Away","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"SecuritySystemTargetState\": 1}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":880,"y":340,"wires":[["17c23f82.9bd2"]]},{"id":"a3d91266.e9e99","type":"change","z":"9cfd907a.57ebf8","name":"Arm Stay","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"SecuritySystemTargetState\": 0}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":880,"y":280,"wires":[["17c23f82.9bd2"]]},{"id":"fced8819.9fe8f8","type":"change","z":"9cfd907a.57ebf8","name":"Disarm","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"SecuritySystemTargetState\": 3}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":880,"y":400,"wires":[["17c23f82.9bd2"]]},{"id":"17c23f82.9bd2","type":"hb-control","z":"9cfd907a.57ebf8","name":"Panel","Homebridge":"homebridge","Manufacturer":"Vivint","Service":"Security System","device":"homebridge0E:AD:D9:CD:9F:59VivintPanel0000007E","conf":"298a159d.3f138a","outputs":0,"x":1070,"y":340,"wires":[]},{"id":"55c18b0f.64aae4","type":"switch","z":"b8a2f6b1.6865d","name":"Only When Complete","property":"payload.LockTargetState","propertyType":"msg","rules":[{"t":"eq","v":"payload.LockCurrentState","vt":"msg"}],"checkall":"true","repair":false,"outputs":1,"x":340,"y":120,"wires":[["861a2d3d.221fe"]]},{"id":"c9f45196.ad973","type":"switch","z":"b8a2f6b1.6865d","name":"Only When Complete","property":"payload.SecuritySystemTargetState","propertyType":"msg","rules":[{"t":"eq","v":"payload.SecuritySystemCurrentState","vt":"msg"}],"checkall":"true","repair":false,"outputs":1,"x":340,"y":300,"wires":[["53e302c4.9cdf84"]]},{"id":"861a2d3d.221fe","type":"trigger","z":"b8a2f6b1.6865d","name":"Debounce 30ms","op1":"","op2":"","op1type":"pay","op2type":"nul","duration":"30","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":560,"y":120,"wires":[["c8a009d2.c13a38"]]},{"id":"53e302c4.9cdf84","type":"trigger","z":"b8a2f6b1.6865d","name":"Debounce 30ms","op1":"","op2":"","op1type":"pay","op2type":"nul","duration":"30","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":560,"y":300,"wires":[["b4ec7aef.7e64e8"]]},{"id":"2a594770.320628","type":"hb-status","z":"9cfd907a.57ebf8","name":"Panel","Homebridge":"homebridge","Manufacturer":"Vivint","Service":"Security System","device":"homebridge0E:AD:D9:CD:9F:59VivintPanel0000007E","conf":"298a159d.3f138a","x":470,"y":280,"wires":[["73a11714.4b2d18"]]},{"id":"933f050f.de1828","type":"hb-status","z":"9cfd907a.57ebf8","name":"Panel","Homebridge":"homebridge","Manufacturer":"Vivint","Service":"Security System","device":"homebridge0E:AD:D9:CD:9F:59VivintPanel0000007E","conf":"298a159d.3f138a","x":470,"y":340,"wires":[["ae16d8f3.019868"]]},{"id":"a2f21e9d.f2621","type":"hb-status","z":"9cfd907a.57ebf8","name":"Panel","Homebridge":"homebridge","Manufacturer":"Vivint","Service":"Security System","device":"homebridge0E:AD:D9:CD:9F:59VivintPanel0000007E","conf":"298a159d.3f138a","x":470,"y":400,"wires":[["7c12f083.ba50b"]]},{"id":"73a11714.4b2d18","type":"switch","z":"9cfd907a.57ebf8","name":"Only If Changed","property":"payload.SecuritySystemCurrentState","propertyType":"msg","rules":[{"t":"neq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":700,"y":280,"wires":[["a3d91266.e9e99"]]},{"id":"ae16d8f3.019868","type":"switch","z":"9cfd907a.57ebf8","name":"Only If Changed","property":"payload.SecuritySystemCurrentState","propertyType":"msg","rules":[{"t":"neq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":700,"y":340,"wires":[["53fa8902.548518"]]},{"id":"7c12f083.ba50b","type":"switch","z":"9cfd907a.57ebf8","name":"Only If Changed","property":"payload.SecuritySystemCurrentState","propertyType":"msg","rules":[{"t":"neq","v":"3","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":700,"y":400,"wires":[["fced8819.9fe8f8"]]},{"id":"a4b68e01.238e6","type":"hb-status","z":"9cfd907a.57ebf8","name":"Front Doorlock","Homebridge":"homebridge","Manufacturer":"KWIKSET","Service":"Lock Mechanism","device":"homebridge0E:AD:D9:CD:9F:59KWIKSETFront Doorlock00000045","conf":"298a159d.3f138a","x":500,"y":80,"wires":[["afa93d87.14bf9"]]},{"id":"39abc78.ef0f938","type":"hb-status","z":"9cfd907a.57ebf8","name":"Front Doorlock","Homebridge":"homebridge","Manufacturer":"KWIKSET","Service":"Lock Mechanism","device":"homebridge0E:AD:D9:CD:9F:59KWIKSETFront Doorlock00000045","conf":"298a159d.3f138a","x":500,"y":160,"wires":[["46fe0981.caec98"]]},{"id":"afa93d87.14bf9","type":"switch","z":"9cfd907a.57ebf8","name":"Only If Changed","property":"payload.LockCurrentState","propertyType":"msg","rules":[{"t":"neq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":700,"y":80,"wires":[["7553aeee.edbde"]]},{"id":"46fe0981.caec98","type":"switch","z":"9cfd907a.57ebf8","name":"Only If Changed","property":"payload.LockCurrentState","propertyType":"msg","rules":[{"t":"neq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":700,"y":160,"wires":[["f1437db1.8f29"]]},{"id":"5b6d2afd.88b4b4","type":"trigger","z":"b8a2f6b1.6865d","name":"Debounce 30ms","op1":"","op2":"","op1type":"pay","op2type":"nul","duration":"30","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":560,"y":500,"wires":[["e66ac9ce.a68868"]]},{"id":"e66ac9ce.a68868","type":"switch","z":"b8a2f6b1.6865d","name":"","property":"payload.MotionDetected","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":730,"y":500,"wires":[["5fd8f7b8.750c28"],["44a99540.31355c"]]},{"id":"5fd8f7b8.750c28","type":"hubitat command","z":"b8a2f6b1.6865d","deviceLabel":"Doorbell Motion Sensor","name":"","server":"5b5054a9.8eef0c","deviceId":"962","command":"active","commandArgs":"","x":970,"y":460,"wires":[[]]},{"id":"44a99540.31355c","type":"hubitat command","z":"b8a2f6b1.6865d","deviceLabel":"Doorbell Motion Sensor","name":"","server":"5b5054a9.8eef0c","deviceId":"962","command":"inactive","commandArgs":"","x":970,"y":540,"wires":[[]]},{"id":"3255e366.a1cbbc","type":"hb-event","z":"b8a2f6b1.6865d","name":"Doorbell PIV Detector","Homebridge":"homebridge","Manufacturer":"VIVOTEK","Service":"Motion Sensor","device":"homebridge0E:AD:D9:CD:9F:59VIVOTEKDoorbell PIV Detector00000085","conf":"298a159d.3f138a","x":140,"y":500,"wires":[["5b6d2afd.88b4b4"]]}]