flows_raspberrypi.json
[
    {
        "id": "b8a2f6b1.6865d",
        "type": "tab",
        "label": "Homebridge to Hubitat",
        "disabled": true,
        "info": ""
    },
    {
        "id": "9cfd907a.57ebf8",
        "type": "tab",
        "label": "Hubitat to Homebridge",
        "disabled": true,
        "info": ""
    },
    {
        "id": "52903b1f.01c294",
        "type": "tab",
        "label": "Hubitat Daily Backup",
        "disabled": false,
        "info": ""
    },
    {
        "id": "ceee7eed.a1d91",
        "type": "tab",
        "label": "Backup Battery",
        "disabled": false,
        "info": ""
    },
    {
        "id": "5b5054a9.8eef0c",
        "type": "hubitat config",
        "name": "",
        "usetls": false,
        "host": "192.168.1.145",
        "port": "80",
        "appId": "1612",
        "nodeRedServer": "http://192.168.1.224:1880",
        "webhookPath": "/hubitat/webhook",
        "autoRefresh": true,
        "useWebsocket": false,
        "colorEnabled": false,
        "color": "#ace043"
    },
    {
        "id": "298a159d.3f138a",
        "type": "hb-conf",
        "username": "548-82-109"
    },
    {
        "id": "78621b45.e30bf4",
        "type": "hb-event",
        "z": "b8a2f6b1.6865d",
        "name": "Front Doorlock",
        "Homebridge": "homebridge",
        "Manufacturer": "KWIKSET",
        "Service": "Lock Mechanism",
        "device": "homebridge0E:AD:D9:CD:9F:59KWIKSETFront Doorlock00000045",
        "conf": "298a159d.3f138a",
        "x": 120,
        "y": 120,
        "wires": [
            [
                "55c18b0f.64aae4"
            ]
        ]
    },
    {
        "id": "c8a009d2.c13a38",
        "type": "switch",
        "z": "b8a2f6b1.6865d",
        "name": "",
        "property": "payload.LockCurrentState",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 730,
        "y": 120,
        "wires": [
            [
                "3b274a9f.1bd4e6"
            ],
            [
                "f85fba90.636388"
            ]
        ]
    },
    {
        "id": "3b274a9f.1bd4e6",
        "type": "hubitat command",
        "z": "b8a2f6b1.6865d",
        "deviceLabel": "Front Door Lock",
        "name": "Unlock Front Door Lock",
        "server": "5b5054a9.8eef0c",
        "deviceId": "960",
        "command": "unlock",
        "commandArgs": "",
        "x": 970,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "f85fba90.636388",
        "type": "hubitat command",
        "z": "b8a2f6b1.6865d",
        "deviceLabel": "Front Door Lock",
        "name": "Lock Front Door Lock",
        "server": "5b5054a9.8eef0c",
        "deviceId": "960",
        "command": "lock",
        "commandArgs": "",
        "x": 960,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "f3e533d6.734fe",
        "type": "hb-event",
        "z": "b8a2f6b1.6865d",
        "name": "Panel",
        "Homebridge": "homebridge",
        "Manufacturer": "Vivint",
        "Service": "Security System",
        "device": "homebridge0E:AD:D9:CD:9F:59VivintPanel0000007E",
        "conf": "298a159d.3f138a",
        "x": 90,
        "y": 300,
        "wires": [
            [
                "c9f45196.ad973"
            ]
        ]
    },
    {
        "id": "b4ec7aef.7e64e8",
        "type": "switch",
        "z": "b8a2f6b1.6865d",
        "name": "",
        "property": "payload.SecuritySystemCurrentState",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "3",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 730,
        "y": 300,
        "wires": [
            [
                "ca99db10.fa7848"
            ],
            [
                "46169be7.afe2f4"
            ],
            [
                "f1fbe8fa.f7e108"
            ]
        ]
    },
    {
        "id": "46169be7.afe2f4",
        "type": "hubitat command",
        "z": "b8a2f6b1.6865d",
        "deviceLabel": "Alarm System",
        "name": "Arm Away",
        "server": "5b5054a9.8eef0c",
        "deviceId": "961",
        "command": "armAway",
        "commandArgs": "",
        "x": 920,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "ca99db10.fa7848",
        "type": "hubitat command",
        "z": "b8a2f6b1.6865d",
        "deviceLabel": "Alarm System",
        "name": "Arm Stay",
        "server": "5b5054a9.8eef0c",
        "deviceId": "961",
        "command": "armHome",
        "commandArgs": "",
        "x": 920,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "f1fbe8fa.f7e108",
        "type": "hubitat command",
        "z": "b8a2f6b1.6865d",
        "deviceLabel": "Alarm System",
        "name": "Disarm",
        "server": "5b5054a9.8eef0c",
        "deviceId": "961",
        "command": "disarm",
        "commandArgs": "",
        "x": 920,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "f9df29bb.fced88",
        "type": "hubitat device",
        "z": "9cfd907a.57ebf8",
        "deviceLabel": "Front Door Lock",
        "name": "",
        "server": "5b5054a9.8eef0c",
        "deviceId": "960",
        "attribute": "lock",
        "sendEvent": true,
        "x": 120,
        "y": 120,
        "wires": [
            [
                "c12cbbc4.1c39d8"
            ]
        ]
    },
    {
        "id": "c12cbbc4.1c39d8",
        "type": "switch",
        "z": "9cfd907a.57ebf8",
        "name": "",
        "property": "payload.value",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "unlocked",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "locked",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 290,
        "y": 120,
        "wires": [
            [
                "a4b68e01.238e6"
            ],
            [
                "39abc78.ef0f938"
            ]
        ]
    },
    {
        "id": "6579ed35.4aeb04",
        "type": "hb-control",
        "z": "9cfd907a.57ebf8",
        "name": "Front Doorlock",
        "Homebridge": "homebridge",
        "Manufacturer": "KWIKSET",
        "Service": "Lock Mechanism",
        "device": "homebridge0E:AD:D9:CD:9F:59KWIKSETFront Doorlock00000045",
        "conf": "298a159d.3f138a",
        "outputs": 0,
        "x": 1100,
        "y": 120,
        "wires": []
    },
    {
        "id": "7553aeee.edbde",
        "type": "change",
        "z": "9cfd907a.57ebf8",
        "name": "Unlock",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"LockTargetState\":0}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 870,
        "y": 80,
        "wires": [
            [
                "6579ed35.4aeb04"
            ]
        ]
    },
    {
        "id": "f1437db1.8f29",
        "type": "change",
        "z": "9cfd907a.57ebf8",
        "name": "Lock",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"LockTargetState\":1}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 870,
        "y": 160,
        "wires": [
            [
                "6579ed35.4aeb04"
            ]
        ]
    },
    {
        "id": "1ea7c941.6afc77",
        "type": "hubitat device",
        "z": "9cfd907a.57ebf8",
        "deviceLabel": "Alarm System",
        "name": "",
        "server": "5b5054a9.8eef0c",
        "deviceId": "961",
        "attribute": "status",
        "sendEvent": true,
        "x": 120,
        "y": 340,
        "wires": [
            [
                "f11dd22e.c10ae"
            ]
        ]
    },
    {
        "id": "f11dd22e.c10ae",
        "type": "switch",
        "z": "9cfd907a.57ebf8",
        "name": "",
        "property": "payload.value",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "armed home",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "armed away",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "disarmed",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 290,
        "y": 340,
        "wires": [
            [
                "2a594770.320628"
            ],
            [
                "933f050f.de1828"
            ],
            [
                "a2f21e9d.f2621"
            ]
        ]
    },
    {
        "id": "53fa8902.548518",
        "type": "change",
        "z": "9cfd907a.57ebf8",
        "name": "Arm Away",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"SecuritySystemTargetState\": 1}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 880,
        "y": 340,
        "wires": [
            [
                "17c23f82.9bd2"
            ]
        ]
    },
    {
        "id": "a3d91266.e9e99",
        "type": "change",
        "z": "9cfd907a.57ebf8",
        "name": "Arm Stay",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"SecuritySystemTargetState\": 0}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 880,
        "y": 280,
        "wires": [
            [
                "17c23f82.9bd2"
            ]
        ]
    },
    {
        "id": "fced8819.9fe8f8",
        "type": "change",
        "z": "9cfd907a.57ebf8",
        "name": "Disarm",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"SecuritySystemTargetState\": 3}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 880,
        "y": 400,
        "wires": [
            [
                "17c23f82.9bd2"
            ]
        ]
    },
    {
        "id": "17c23f82.9bd2",
        "type": "hb-control",
        "z": "9cfd907a.57ebf8",
        "name": "Panel",
        "Homebridge": "homebridge",
        "Manufacturer": "Vivint",
        "Service": "Security System",
        "device": "homebridge0E:AD:D9:CD:9F:59VivintPanel0000007E",
        "conf": "298a159d.3f138a",
        "outputs": 0,
        "x": 1070,
        "y": 340,
        "wires": []
    },
    {
        "id": "55c18b0f.64aae4",
        "type": "switch",
        "z": "b8a2f6b1.6865d",
        "name": "Only When Complete",
        "property": "payload.LockTargetState",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "payload.LockCurrentState",
                "vt": "msg"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 340,
        "y": 120,
        "wires": [
            [
                "861a2d3d.221fe"
            ]
        ]
    },
    {
        "id": "c9f45196.ad973",
        "type": "switch",
        "z": "b8a2f6b1.6865d",
        "name": "Only When Complete",
        "property": "payload.SecuritySystemTargetState",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "payload.SecuritySystemCurrentState",
                "vt": "msg"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 340,
        "y": 300,
        "wires": [
            [
                "53e302c4.9cdf84"
            ]
        ]
    },
    {
        "id": "861a2d3d.221fe",
        "type": "trigger",
        "z": "b8a2f6b1.6865d",
        "name": "Debounce 30ms",
        "op1": "",
        "op2": "",
        "op1type": "pay",
        "op2type": "nul",
        "duration": "30",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 560,
        "y": 120,
        "wires": [
            [
                "c8a009d2.c13a38"
            ]
        ]
    },
    {
        "id": "53e302c4.9cdf84",
        "type": "trigger",
        "z": "b8a2f6b1.6865d",
        "name": "Debounce 30ms",
        "op1": "",
        "op2": "",
        "op1type": "pay",
        "op2type": "nul",
        "duration": "30",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 560,
        "y": 300,
        "wires": [
            [
                "b4ec7aef.7e64e8"
            ]
        ]
    },
    {
        "id": "2a594770.320628",
        "type": "hb-status",
        "z": "9cfd907a.57ebf8",
        "name": "Panel",
        "Homebridge": "homebridge",
        "Manufacturer": "Vivint",
        "Service": "Security System",
        "device": "homebridge0E:AD:D9:CD:9F:59VivintPanel0000007E",
        "conf": "298a159d.3f138a",
        "x": 470,
        "y": 280,
        "wires": [
            [
                "73a11714.4b2d18"
            ]
        ]
    },
    {
        "id": "933f050f.de1828",
        "type": "hb-status",
        "z": "9cfd907a.57ebf8",
        "name": "Panel",
        "Homebridge": "homebridge",
        "Manufacturer": "Vivint",
        "Service": "Security System",
        "device": "homebridge0E:AD:D9:CD:9F:59VivintPanel0000007E",
        "conf": "298a159d.3f138a",
        "x": 470,
        "y": 340,
        "wires": [
            [
                "ae16d8f3.019868"
            ]
        ]
    },
    {
        "id": "a2f21e9d.f2621",
        "type": "hb-status",
        "z": "9cfd907a.57ebf8",
        "name": "Panel",
        "Homebridge": "homebridge",
        "Manufacturer": "Vivint",
        "Service": "Security System",
        "device": "homebridge0E:AD:D9:CD:9F:59VivintPanel0000007E",
        "conf": "298a159d.3f138a",
        "x": 470,
        "y": 400,
        "wires": [
            [
                "7c12f083.ba50b"
            ]
        ]
    },
    {
        "id": "73a11714.4b2d18",
        "type": "switch",
        "z": "9cfd907a.57ebf8",
        "name": "Only If Changed",
        "property": "payload.SecuritySystemCurrentState",
        "propertyType": "msg",
        "rules": [
            {
                "t": "neq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 700,
        "y": 280,
        "wires": [
            [
                "a3d91266.e9e99"
            ]
        ]
    },
    {
        "id": "ae16d8f3.019868",
        "type": "switch",
        "z": "9cfd907a.57ebf8",
        "name": "Only If Changed",
        "property": "payload.SecuritySystemCurrentState",
        "propertyType": "msg",
        "rules": [
            {
                "t": "neq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 700,
        "y": 340,
        "wires": [
            [
                "53fa8902.548518"
            ]
        ]
    },
    {
        "id": "7c12f083.ba50b",
        "type": "switch",
        "z": "9cfd907a.57ebf8",
        "name": "Only If Changed",
        "property": "payload.SecuritySystemCurrentState",
        "propertyType": "msg",
        "rules": [
            {
                "t": "neq",
                "v": "3",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 700,
        "y": 400,
        "wires": [
            [
                "fced8819.9fe8f8"
            ]
        ]
    },
    {
        "id": "a4b68e01.238e6",
        "type": "hb-status",
        "z": "9cfd907a.57ebf8",
        "name": "Front Doorlock",
        "Homebridge": "homebridge",
        "Manufacturer": "KWIKSET",
        "Service": "Lock Mechanism",
        "device": "homebridge0E:AD:D9:CD:9F:59KWIKSETFront Doorlock00000045",
        "conf": "298a159d.3f138a",
        "x": 500,
        "y": 80,
        "wires": [
            [
                "afa93d87.14bf9"
            ]
        ]
    },
    {
        "id": "39abc78.ef0f938",
        "type": "hb-status",
        "z": "9cfd907a.57ebf8",
        "name": "Front Doorlock",
        "Homebridge": "homebridge",
        "Manufacturer": "KWIKSET",
        "Service": "Lock Mechanism",
        "device": "homebridge0E:AD:D9:CD:9F:59KWIKSETFront Doorlock00000045",
        "conf": "298a159d.3f138a",
        "x": 500,
        "y": 160,
        "wires": [
            [
                "46fe0981.caec98"
            ]
        ]
    },
    {
        "id": "afa93d87.14bf9",
        "type": "switch",
        "z": "9cfd907a.57ebf8",
        "name": "Only If Changed",
        "property": "payload.LockCurrentState",
        "propertyType": "msg",
        "rules": [
            {
                "t": "neq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 700,
        "y": 80,
        "wires": [
            [
                "7553aeee.edbde"
            ]
        ]
    },
    {
        "id": "46fe0981.caec98",
        "type": "switch",
        "z": "9cfd907a.57ebf8",
        "name": "Only If Changed",
        "property": "payload.LockCurrentState",
        "propertyType": "msg",
        "rules": [
            {
                "t": "neq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 700,
        "y": 160,
        "wires": [
            [
                "f1437db1.8f29"
            ]
        ]
    },
    {
        "id": "5b6d2afd.88b4b4",
        "type": "trigger",
        "z": "b8a2f6b1.6865d",
        "name": "Debounce 30ms",
        "op1": "",
        "op2": "",
        "op1type": "pay",
        "op2type": "nul",
        "duration": "30",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 560,
        "y": 500,
        "wires": [
            [
                "e66ac9ce.a68868"
            ]
        ]
    },
    {
        "id": "e66ac9ce.a68868",
        "type": "switch",
        "z": "b8a2f6b1.6865d",
        "name": "",
        "property": "payload.MotionDetected",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 730,
        "y": 500,
        "wires": [
            [
                "5fd8f7b8.750c28"
            ],
            [
                "44a99540.31355c"
            ]
        ]
    },
    {
        "id": "5fd8f7b8.750c28",
        "type": "hubitat command",
        "z": "b8a2f6b1.6865d",
        "deviceLabel": "Doorbell Motion Sensor",
        "name": "",
        "server": "5b5054a9.8eef0c",
        "deviceId": "962",
        "command": "active",
        "commandArgs": "",
        "x": 970,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "44a99540.31355c",
        "type": "hubitat command",
        "z": "b8a2f6b1.6865d",
        "deviceLabel": "Doorbell Motion Sensor",
        "name": "",
        "server": "5b5054a9.8eef0c",
        "deviceId": "962",
        "command": "inactive",
        "commandArgs": "",
        "x": 970,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "3255e366.a1cbbc",
        "type": "hb-event",
        "z": "b8a2f6b1.6865d",
        "name": "Doorbell PIV Detector",
        "Homebridge": "homebridge",
        "Manufacturer": "VIVOTEK",
        "Service": "Motion Sensor",
        "device": "homebridge0E:AD:D9:CD:9F:59VIVOTEKDoorbell PIV Detector00000085",
        "conf": "298a159d.3f138a",
        "x": 140,
        "y": 500,
        "wires": [
            [
                "5b6d2afd.88b4b4"
            ]
        ]
    },
    {
        "id": "e102555.7c84728",
        "type": "inject",
        "z": "52903b1f.01c294",
        "name": "Daily 3:00AM",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "00 03 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 60,
        "wires": [
            [
                "8ad3a386.42c08"
            ]
        ]
    },
    {
        "id": "8ad3a386.42c08",
        "type": "http request",
        "z": "52903b1f.01c294",
        "name": "Download Latest Backup",
        "method": "GET",
        "ret": "bin",
        "paytoqs": "ignore",
        "url": "http://192.168.1.145/hub/backupDB?fileName=latest",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 350,
        "y": 60,
        "wires": [
            [
                "1df9e624.1bce3a"
            ]
        ]
    },
    {
        "id": "cd0bcceb.8e474",
        "type": "file",
        "z": "52903b1f.01c294",
        "name": "Save File",
        "filename": "",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 760,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "1df9e624.1bce3a",
        "type": "function",
        "z": "52903b1f.01c294",
        "name": "Create Filename",
        "func": "msg.filename = \"/home/pi/Backup/Hubitat/backup-\" + (new Date()).toISOString()\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 580,
        "y": 60,
        "wires": [
            [
                "cd0bcceb.8e474"
            ]
        ]
    },
    {
        "id": "964ac6d.9b0fa38",
        "type": "nut-ups",
        "z": "ceee7eed.a1d91",
        "name": "PierceBattery",
        "ups": "PierceBattery@127.0.0.1",
        "x": 300,
        "y": 100,
        "wires": [
            [
                "1c98442c.68d64c",
                "d79238a0.dfbcd8",
                "b4f2231c.b3651"
            ]
        ]
    },
    {
        "id": "dc533f56.b5ecf",
        "type": "inject",
        "z": "ceee7eed.a1d91",
        "name": "Every 10s",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "10",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 100,
        "wires": [
            [
                "964ac6d.9b0fa38"
            ]
        ]
    },
    {
        "id": "1c98442c.68d64c",
        "type": "switch",
        "z": "ceee7eed.a1d91",
        "name": "ups.status",
        "property": "payload.ups.status.value",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "OL",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "OB",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 530,
        "y": 100,
        "wires": [
            [
                "1c5dee85.d67b21"
            ],
            [
                "3290766e.c1aa9a"
            ],
            [
                "9906616f.fed76"
            ]
        ]
    },
    {
        "id": "3290766e.c1aa9a",
        "type": "change",
        "z": "ceee7eed.a1d91",
        "name": "battery",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "battery",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 730,
        "y": 100,
        "wires": [
            [
                "67e4aeac.5d87c"
            ]
        ]
    },
    {
        "id": "1c5dee85.d67b21",
        "type": "change",
        "z": "ceee7eed.a1d91",
        "name": "mains",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "mains",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 730,
        "y": 40,
        "wires": [
            [
                "67e4aeac.5d87c"
            ]
        ]
    },
    {
        "id": "9906616f.fed76",
        "type": "change",
        "z": "ceee7eed.a1d91",
        "name": "unknown",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "unknown",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 740,
        "y": 160,
        "wires": [
            [
                "67e4aeac.5d87c"
            ]
        ]
    },
    {
        "id": "67e4aeac.5d87c",
        "type": "rbe",
        "z": "ceee7eed.a1d91",
        "name": "Only when changed",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "x": 980,
        "y": 100,
        "wires": [
            [
                "143dafad.c0065"
            ]
        ]
    },
    {
        "id": "143dafad.c0065",
        "type": "switch",
        "z": "ceee7eed.a1d91",
        "name": "Power source",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "mains",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "battery",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 1200,
        "y": 100,
        "wires": [
            [
                "d89a2e6b.3f1f9"
            ],
            [
                "144bd2eb.6fe21d"
            ],
            [
                "a7b022d7.1bbff"
            ]
        ]
    },
    {
        "id": "144bd2eb.6fe21d",
        "type": "hubitat command",
        "z": "ceee7eed.a1d91",
        "deviceLabel": "Michael",
        "name": "Power on battery",
        "server": "5b5054a9.8eef0c",
        "deviceId": "826",
        "command": "deviceNotification",
        "commandArgs": "Power is on battery!",
        "x": 1450,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "d89a2e6b.3f1f9",
        "type": "hubitat command",
        "z": "ceee7eed.a1d91",
        "deviceLabel": "Michael",
        "name": "Power restored",
        "server": "5b5054a9.8eef0c",
        "deviceId": "826",
        "command": "deviceNotification",
        "commandArgs": "Power has been restored!",
        "x": 1440,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "a7b022d7.1bbff",
        "type": "hubitat command",
        "z": "ceee7eed.a1d91",
        "deviceLabel": "Michael",
        "name": "Power unknown",
        "server": "5b5054a9.8eef0c",
        "deviceId": "826",
        "command": "deviceNotification",
        "commandArgs": "Backup battery is offline!",
        "x": 1440,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "d79238a0.dfbcd8",
        "type": "switch",
        "z": "ceee7eed.a1d91",
        "name": "On battery?",
        "property": "payload.ups.status.value",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "OB",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 530,
        "y": 340,
        "wires": [
            [
                "290b9eac.72e852"
            ],
            [
                "3d5d50a2.0e02f"
            ]
        ]
    },
    {
        "id": "290b9eac.72e852",
        "type": "switch",
        "z": "ceee7eed.a1d91",
        "name": "Charge is low?",
        "property": "$number(msg.payload.battery.charge.value)",
        "propertyType": "jsonata",
        "rules": [
            {
                "t": "lte",
                "v": "$number(msg.payload.battery.charge.low.value)",
                "vt": "jsonata"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 760,
        "y": 340,
        "wires": [
            [
                "730f247d.5ccb74"
            ],
            [
                "3ab4db73.e45104"
            ]
        ]
    },
    {
        "id": "3ab4db73.e45104",
        "type": "switch",
        "z": "ceee7eed.a1d91",
        "name": "Runtime is low?",
        "property": "$number(msg.payload.battery.runtime.value)",
        "propertyType": "jsonata",
        "rules": [
            {
                "t": "lte",
                "v": "$number(msg.payload.battery.runtime.low.value)",
                "vt": "jsonata"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1000,
        "y": 380,
        "wires": [
            [
                "730f247d.5ccb74"
            ],
            [
                "83135187.e73ae"
            ]
        ]
    },
    {
        "id": "7ef98ed.529717",
        "type": "hubitat command",
        "z": "ceee7eed.a1d91",
        "deviceLabel": "Michael",
        "name": "Shutdown notification",
        "server": "5b5054a9.8eef0c",
        "deviceId": "826",
        "command": "deviceNotification",
        "commandArgs": "Backup battery is low! Shutting down...",
        "x": 1460,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "330c29ff.2baa26",
        "type": "delay",
        "z": "ceee7eed.a1d91",
        "name": "",
        "pauseType": "delay",
        "timeout": "15",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 1420,
        "y": 340,
        "wires": [
            [
                "d42fe00b.78e07"
            ]
        ]
    },
    {
        "id": "e3ca586b.7c74d8",
        "type": "delay",
        "z": "ceee7eed.a1d91",
        "name": "",
        "pauseType": "delay",
        "timeout": "45",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 1420,
        "y": 420,
        "wires": [
            [
                "6435665c.d20038"
            ]
        ]
    },
    {
        "id": "d42fe00b.78e07",
        "type": "hubitat command",
        "z": "ceee7eed.a1d91",
        "deviceLabel": "Hub",
        "name": "Shutdown Hubitat",
        "server": "5b5054a9.8eef0c",
        "deviceId": "737",
        "command": "shutdown",
        "commandArgs": "",
        "x": 1610,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "6435665c.d20038",
        "type": "shutdown",
        "z": "ceee7eed.a1d91",
        "name": "",
        "x": 1600,
        "y": 420,
        "wires": []
    },
    {
        "id": "873fb733.ea2b88",
        "type": "debug",
        "z": "ceee7eed.a1d91",
        "d": true,
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 950,
        "y": 500,
        "wires": []
    },
    {
        "id": "3d5d50a2.0e02f",
        "type": "change",
        "z": "ceee7eed.a1d91",
        "d": true,
        "name": "Not on battery",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Not on battery",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 760,
        "y": 500,
        "wires": [
            [
                "873fb733.ea2b88"
            ]
        ]
    },
    {
        "id": "83135187.e73ae",
        "type": "change",
        "z": "ceee7eed.a1d91",
        "d": true,
        "name": "Battery is not low",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Battery is not low",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1250,
        "y": 500,
        "wires": [
            [
                "9ec19439.fdca78"
            ]
        ]
    },
    {
        "id": "9ec19439.fdca78",
        "type": "debug",
        "z": "ceee7eed.a1d91",
        "d": true,
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1450,
        "y": 500,
        "wires": []
    },
    {
        "id": "b4f2231c.b3651",
        "type": "debug",
        "z": "ceee7eed.a1d91",
        "d": true,
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 530,
        "y": 600,
        "wires": []
    },
    {
        "id": "730f247d.5ccb74",
        "type": "trigger",
        "z": "ceee7eed.a1d91",
        "name": "Only once",
        "op1": "",
        "op2": "0",
        "op1type": "pay",
        "op2type": "str",
        "duration": "0",
        "extend": false,
        "overrideDelay": false,
        "units": "min",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 1220,
        "y": 340,
        "wires": [
            [
                "330c29ff.2baa26",
                "e3ca586b.7c74d8",
                "7ef98ed.529717"
            ]
        ]
    }
]